.tabcontent{
    padding: 10px;
    text-align: center;
}
.tablink{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    padding: 10px 0px;
    cursor: pointer;
    width: 20%;
    text-align: center;
}
.tablink:hover{
    background-color: #777;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
}
body {
  background-color: #50808E;
}
.flextitle{
    min-height: 100px;
    border: 8px solid black;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.flextitle img{
    margin: auto;
    width: 500px;
    height: 200px;
}
.gamecard{
    display: flex;
    gap: 300px;
    justify-content: center;
    flex-wrap: wrap;
    min-height:500px;
    min-width: 500px;
}
.gameCardOptions{
    align-self: center;
    max-width: 300px;
}
.gameCardImage{
    align-self: center;
}
.showcased{
  min-height: 200px;
  border: 8px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
  gap: 25px;
}
.showcased img{
    width: 200px;
    height: 200px;
}
.showcased button{
    width: 180px;
    height: 180px;
}
.infocard{
    display: flex;
}
